[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
requests = "*"
signalrcore = "*"
psycopg2 = "*"
SQLAlchemy = "*"
python-dotenv = "*"
pylint = "*"
pydantic = "*"

[dev-packages]
pylint = "*"
black = "*"
pre-commit = "*"

[scripts]
start = "python src/main.py"
test = "python -m unittest discover -s ./test -p \"*test*.py\""
lint = "pylint -rn -sn --rcfile=.pylintrc ./src ./test"
pre = "pre-commit run --all-files"
